<?xml version="1.0"?>
<model>
  <name>salon_model</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Juan Sanchez</name>
    <email>sanchezjuanjo0508@gmail.com</email>
  </author>
  <description>Modelo de salón personalizado para exploración con TurtleBot3</description>
</model>